.hover-darkgrey:hover{background-color: darkgrey;}
.hover_primary:hover {
    color: var(--bs-primary) !important;
}
.cursor-pointer {
    cursor: pointer;
}
.pagination__item.disabled {
    background-color: #ccc;
}
.pagination__item.disabled:hover {
    border: unset;
}

.spin_circle {
    animation: spinCircle 1.5s infinite linear;
}
@keyframes spinCircle {
    to {
        transform: rotate(360deg);
    }
}