:root {
    --height-margin-top: 30px;
}

.hover-darkgrey:hover{background-color: darkgrey;}
.hover_primary:hover {
    color: var(--bs-primary) !important;
}
.cursor-pointer {
    cursor: pointer;
}
.pagination__item.disabled {
    background-color: #ccc;
}
.pagination__item.disabled:hover {
    border: unset;
}
.text-one-row {
    text-overflow: ellipsis;
}
.spin_circle {
    animation: spinCircle 1.5s infinite linear;
}
.fvn__user {
    height: var(--height-margin-top);
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
    z-index: 9999;
}
.category-description {
    max-height: 400px;
    overflow: auto;
}
.breadcrumb .breadcrumb-item {
    /* max-width: 33%; */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.dropdown-menu-custom .mb__item_custom {
    overflow: hidden;
}
.img-thumbnail_cover {
    padding: .25rem;
    background-color: #fff;
    object-fit: cover;
}
@keyframes spinCircle {
    to {
        transform: rotate(360deg);
    }
}
@media (max-width: 576px) {
    :root {
        --height-margin-top: 25px;
    }
}
